@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
/* Responsiveness */


@media(max-width:991px){

    header {
        padding-left: 2%;
        padding-right: 2%;
    }

    header .navbar-brand .logo {
        width: 60%;
        display: inline-block;
      }
    
    .navbar-toggler .tbtn {
        font-size: 1.5rem;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .btn {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .navbar-nav {
        padding: left 20px !important;
        padding-right: 20px !important;
        
        
    }
    
}

@media (max-width:768px){

    header {
        padding-left: 1%;
        padding-right: 1%;
    }
 

    /* Responsive Styles for Mobile View */
  
        /* Center the content vertically */
        .con {
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: #000000EB;
            padding: 0px 0px;
        }
        
        /* Style the h1 elements */
        h1 {
            font-weight: bold;
            font-size: 18px;
            line-height: 16px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        


        /* Style the paragraph */
        .center-p {
            color: #898484;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            padding: 10px;
            font-size: 11px;
            line-height: 15px;
        }
        
        /* Style the "Get Started" text */
        .getStarted {
            font-weight: bold;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }
        
        /* Style the button */
        .button-free {
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            justify-content: center;
        }
        
        .bb {
            color: white;
            background-color: #007bff;
            border-color: white;
            border-radius: 50px;
            border: none;
            padding: 16px 32px; /* Increase the padding to increase button size */
            font-size: 20px; /* Increase the font size to increase button size */
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            margin: 0px;
        }
        
        .hero-blur-bg-holder {
            text-align: center;
            background-color: #000000EB;
        }
    }









   
    /* Center the content horizontally and vertically */
    .con {
        display: block;
        height: 100vh;
        width: 100%;
        background-color: #000000EB;
        margin: 0px 0px 0px 0px;
        padding: 100px 0px 0px 0px;
    }

    /* Style the h1 elements */
    h1 {
        font-weight: bold;
        justify-content: center;
        text-align: center;
        line-height: 68px;
        font-size: 62px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    /* Style the paragraph */
    .center-p{
        color: #898484;
        font-family:'Times New Roman', Times, serif;
        text-align: center;

        font-size: 15px;
        line-height: 18px;
    }


    /* Style the "Get Started" text */
    .getStarted {
        font-weight: bold;
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    /* Style the button */
    .button-free {
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        justify-content: center;
    }

    .bb{
        color: white;
        background-color: #007bff;
        border-color: white;
        border-radius: 50px;
        border: none;
        padding: 10px 20px; 
        font-size: 20px; 
        font-weight: 600px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        margin: 50px;
    }

    .hero-blur-bg-holder{
        padding: 20px ;
        text-align: center;
        background-color: #000000EB;
    }





    

  
/*  Frequency questions */
 .container-wrapper{
    background-color: #000000EB;
    padding: 20px 100px 20px 100px;
 }

 .MuiPaper-root{
   
    text-align: center;
    justify-content: center;
    
 }

 .rest{
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .MuiAccordionSummary-content{
    background-color: #ffefe0;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    font-size: 30px;
    color: #000000EB;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
 }

 .MuiCollapse-root{
   font-size: 16px;
   color: black;
   margin: 20px 20px 20px 20px;
 }

/*  Frequency questions */