@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
  }
  
  body {
    background: #ffffff;
  }

  .row {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;


   
  }

  .col {
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    border-color: #fff;


    
  
  
    /* Add any other styles you want for the columns */
  }
  h3 {
    color: #000000 !important;
    font-weight: 600;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
  }
  
  p{
    color: #fff;
    
  }


a{
  text-decoration: none;
  color: rgb(68, 71, 77);;
}

.submitbtn{
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.file-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  